<div class="flex flex-col items-center">
    <div class="relative">
        <img [src]="user.profileImage?.url || '/app-assets/images/user-profile.jpg'" alt="Profile Image" class="object-cover w-32 h-32 rounded-full">
        <button mat-mini-fab class="absolute bottom-3 left-24 primary-button" (click)="fileInput.click()">
        <mat-icon>edit</mat-icon>
        </button>
        <input type="file" #fileInput class="hidden" (change)="onFileSelected($event)">
        
    </div>
    <h2 class="mt-4 text-primaryContentColor">{{ user.firstName }} {{ user.lastName }}</h2>
    <h4 class="text-secondaryContentColor">{{ user.role }}</h4>
    @if (user.status === 'Active') {
        <p class="text-successColor">Verified</p>
    }
    @else if (user.status === 'Unverified') {
        <div class="flex flex-col items-center gap-4 px-12 mt-8">
            <p class="text-dangerColor">Your account is unverified. Please verify it to avoid security risks.</p>
            <button mat-flat-button class="primary-button" (click)="onResendVerificationEmail()">
                Verify your account
            </button>
        </div>
    }
    
</div>
