<div class="modal-theme">
    <h2 mat-dialog-title class="mat-dialog-title">Course Schedule Details</h2>
    <mat-dialog-content class="mat-dialog-title">
      <div class="schedule-info">
        <p><strong>Day:</strong> {{ getWeekday(data.schedule.day) }}</p>
        <p><strong>Start Time:</strong> {{ formatTime(data.schedule.startTime) }}</p>
        <p><strong>End Time:</strong> {{ formatTime(data.schedule.endTime) }}</p>
        <p *ngIf="data.enrollments"><strong>Enrollments:</strong> {{ data.schedule.enrollmentsCount }}</p>
        <p *ngIf="data.enrollments"><strong>Available space for enrollments:</strong> {{ data.enrollments - data.schedule.enrollmentsCount > 0 ? data.enrollments - data.schedule.enrollmentsCount : 'full' }}</p>
    
        <h6>Instructors:</h6>
        @for (instructor of data.schedule.instructors; track instructor.id) {
            <div class="instructor-info">
            <img [src]="instructor.profileImage.url" alt="{{ instructor.firstName }} {{ instructor.lastName }}" class="profile-image"/>
            <div class="instructor-details">
                <h6>{{ instructor.firstName }} {{ instructor.lastName }}</h6>
                <p>{{ instructor.bio }}</p>
            </div>
            </div>
        }
        
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-flat-button mat-dialog-close class="secondary-button">Close</button>
    </mat-dialog-actions>
</div>
