<div class="flex justify-between">
    <h4 class="text-primaryContentColor">Membership Plan Subscription</h4>
    <button mat-flat-button (click)="openBillingPortal()">Billing Portal</button>
</div>

@if(subscription$ | async; as subscription) {
    <mat-card class="w-fit mat-card">
        <mat-card-content>
            <h6 class="font-semibold text-primaryContentColor">{{ subscription.membershipPlan.name }}</h6>
            <p class="text-secondaryContentColor">{{ subscription.membershipPlan.description }}</p>
            <p class="text-secondaryContentColor">Subscription Date: {{ subscription.startDate | date }}</p>
            <p class="text-yellow-600"><strong>Renewal Date:</strong> {{ subscription.expiryDate | date }}</p>
        </mat-card-content>
    </mat-card>
}
@else {
    <p class="text-yellow-600">No active membership subscriptions yet.</p>
    <button mat-flat-button routerLink="/plans">Get One!</button>
}
