<div class="flex items-center justify-center mt-32">
    <div class="p-6 text-center bg-white rounded-lg shadow-lg ">
        <i class="mb-4 text-5xl text-red-500 fas fa-times-circle"></i>
        
        <h2 class="mb-2 text-2xl font-bold">Payment Failed!</h2>
        <p class="mb-4 text-gray-600">
            Unfortunately, your payment could not be processed.<br />
            Please try again or contact support if the problem persists.
        </p>
        
        <div class="flex justify-between gap-5 mt-8">
            <button mat-raised-button color="primary" class="w-full" (click)="onMembershipPlansClicked()">
                Membership Plans
            </button>
    
            <button mat-raised-button color="primary" class="w-full" (click)="onCoursesClicked()">
                Courses
            </button>
        </div>
        
    </div>
</div>