<div class="flex flex-col items-center max-w-md p-8 mx-auto mt-20 rounded-lg shadow-lg bg-tertiaryColor border-[1px] border-secondaryContentColor">
    <div *ngIf="verificationStatus" [ngClass]="{ 'text-successColor': isSuccess, 'text-dangerColor': !isSuccess }" class="text-center">
      <i *ngIf="!isSuccess" class="mb-5 text-5xl text-dangerColor fas fa-times-circle"></i>
      <i *ngIf="isSuccess" class="mb-5 text-5xl text-successColor fas fa-check-circle"></i>
      <h2 class="text-2xl font-bold">{{ verificationStatus }}</h2>
      <p class="mt-2">{{ isSuccess ? 'You will be redirected to the homepage shortly.' : 'Please try again.' }}</p>
    </div>
</div>
  
  