<div class="flex flex-col items-center max-w-md gap-6 p-8 mx-auto rounded-lg shadow-lg">
    <h5 class="mb-6 text-2xl font-semibold">Change Password</h5>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="w-full mb-4">
            <mat-label>Old Password</mat-label>
            <input matInput formControlName="oldPassword" placeholder="Enter your old password">
        </mat-form-field>
        
        <mat-form-field appearance="fill" class="w-full mb-4">
            <mat-label>New Password</mat-label>
            <input matInput formControlName="newPassword" type="password" placeholder="Enter your new password">
            @if (changePasswordForm.get('newPassword')?.hasError('required')) {
                <mat-error>Password is required.</mat-error>
            }
            @else if (changePasswordForm.get('newPassword')?.hasError('minlength') || changePasswordForm.get('newPassword')?.hasError('maxlength')) {
                <mat-error>Password must be between 8 and 32 characters.</mat-error>
            }
            @else if (changePasswordForm.get('newPassword')?.hasError('uppercase')) {
                <mat-error>Password must contain at least one uppercase letter.</mat-error>
            }
            @else if (changePasswordForm.get('newPassword')?.hasError('lowercase')) {
                <mat-error>Password must contain at least one lowercase letter.</mat-error>
            }
            @else if (changePasswordForm.get('newPassword')?.hasError('digit')) {
                <mat-error>Password must contain at least one digit.</mat-error>
            }
            @else if (changePasswordForm.get('newPassword')?.hasError('specialCharacter')) {
                <mat-error>Password must contain at least one special character.</mat-error>
            }
        </mat-form-field>
        
        <mat-form-field appearance="fill" class="w-full mb-4">
            <mat-label>Confirm Password</mat-label>
            <input matInput formControlName="confirmPassword" type="password" placeholder="Confirm your new password">
            @if (changePasswordForm.get('confirmPassword')?.hasError('mismatch')) {
                <mat-error>Passwords do not match.</mat-error>
            }
        </mat-form-field>
        
        <div class="flex justify-between space-x-12">
            <button mat-raised-button class="w-full" (click)="onClose()">Cancel</button>
            <button mat-flat-button color="primary" type="submit" [disabled]="changePasswordForm.invalid" class="w-full">Change Password</button>
        </div>
    </form>
</div>