<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="flex flex-col items-center gap-5">
        <h3> Login </h3>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="emailAddress" type="email">
            @if (loginForm.get('emailAddress')?.hasError('required')) {
                <mat-error>Email is required</mat-error>
            }
            @else if (loginForm.get('emailAddress')?.hasError('email')) {
                <mat-error>Invalid email format</mat-error>
            }
          </mat-form-field>
        
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput formControlName="authData" type="password">
            @if (loginForm.get('authData')?.hasError('required')) {
                <mat-error>Password is required</mat-error>
            }

            @else if (loginForm.get('authData')?.hasError('minlength')) {
                <mat-error>Password must be at least 6 characters long</mat-error>
            }
            
          </mat-form-field>
        
          <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
    </div>
  </form>
  