<div class="flex items-center justify-center mt-32">
    <div class="p-6 text-center rounded-lg shadow-lg bg-secondaryColor border-[1px] border-secondaryContentColor">
        <i class="mb-4 text-5xl text-successColor fas fa-check-circle"></i>
        
        <h2 class="mb-2 text-2xl font-bold text-primaryContentColor">Payment succeeded!</h2>
        <p class="mb-4 text-secondaryContentColor">
            Thank you for subscribing for <strong class="text-primaryContentColor">"{{ product }}"</strong> {{ productType }}.<br />
            You can see your active subscriptions in your profile page.
        </p>
        
        <button mat-raised-button class="mt-4 primary-button" (click)="onProfileClicked()">
        Your Profile
        </button>
    </div>
</div>


  
