<mat-toolbar color="primary">
    <div class="container flex items-center justify-between">
      <span class="text-xl font-bold cursor-default text-primaryContentColor">Gymphony</span>
      
      <nav class="flex ml-10 space-x-5">
        <a mat-button routerLink="/home">Home</a>
        <a mat-button routerLink="/plans">Membership Plans</a>
      </nav>

        <app-profile-icon [user]="user$ | async"></app-profile-icon>
    </div>
    
</mat-toolbar>
<div class="h-[2px] w-full bg-secondaryContentColor"></div>
  