<div>
  <!-- Main Section -->
  <section class="relative flex flex-col items-center justify-center h-screen bg-center bg-cover">
    <div class="absolute inset-0">
      <div class="w-full h-full bg-center bg-cover" style="background-image: url('/app-assets/images/gymphony-background.png');">
        <div class="absolute inset-0 bg-black opacity-70"></div>
      </div>
    </div>
  
    <div class="relative z-10 text-center text-white">
      <h1 class="text-5xl font-bold md:text-6xl">Welcome To Gymphony</h1>
      <p class="mt-4 text-xl md:text-2xl">Your journey to a healthier life starts here.</p>
      <button *ngIf="(user$ | async) === null" mat-flat-button class="px-6 py-2 mt-6 primary-button" (click)="onJoinClick()">
        Join Gymphony Now!
      </button>
    </div>
  </section>

  <!-- Program Section -->
  <section class="py-16 bg-primaryColor">
    <div class="container mx-auto text-center">
      <h2 class="mb-8 text-3xl font-semibold text-primaryContentColor">Our Program</h2>
      <div class="grid gap-8 md:grid-cols-2">
        
        <!-- Membership Plans -->
        <div class="p-8 rounded-lg shadow-lg bg-secondaryColor">
          <h3 class="mb-4 text-2xl font-semibold text-primaryContentColor">Membership Plans</h3>
          <ul class="text-left text-secondaryContentColor">
            <li>• Access to All Gym Facilities</li>
            <li>• Exclusive Member Discounts</li>
            <li>• Free Monthly Assessments</li>
            <li>• Flexible Membership Options</li>
          </ul>
          <button mat-flat-button routerLink="/plans" class="px-6 py-2 mt-6 primary-button">
            Explore Membership Plans
          </button>
        </div>

        <!-- Courses -->
        <div class="p-8 rounded-lg shadow-lg bg-secondaryColor">
          <h3 class="mb-4 text-2xl font-semibold text-primaryContentColor">Courses</h3>
          <ul class="text-left text-secondaryContentColor">
            <li>• Expert-Led Fitness Courses</li>
            <li>• Structured Progression</li>
            <li>• Nutrition and Lifestyle Guidance</li>
            <li>• Community Support</li>
          </ul>
          <button mat-flat-button routerLink="/courses" class="px-6 py-2 mt-6 primary-button">
            Explore Courses
          </button>
        </div>

      </div>
    </div>
  </section>

</div>